<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Updated</title>
</head>
<body>
    <p>Hi <%= firstName %> <%= lastName %>,</p>
    <p>Your password has been successfully updated. Please proceed to login.</p>
    <p>Thank you,</p>
    <p>The CCW Team</p>
</body>
</html>
